<h1>Resultados Factura</h1>
<hr/>
<div>
   <p>Cotizacion de la factura:
   <span><%= @document_rate %> </span></p>
   <p>Comision:
   <span><%= @commission %> </span></p>
   <p>Porcentaje de anticipo:
   <span><%= @advance_percent %> </span></p>
   <p>Costo de operar la factura con nosotros:
   <span><%= @financing_cost %> </span></p>
   <p>Monto a recibir por el emisor si opera:
   <span><%= @turn_to_receive %> </span></p>
   <p>Monto a recibir al saldarse la factura:
   <span><%= @excedent %> </span></p>
</div>
